<div class="h-100 bg-plum-plate bg-premium-dark">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="h5 modal-title text-center">
                            <h4 class="mt-2">
                                <div>¡Bienvenido a ZombieSchool!</div>
                            </h4>
                        </div>

                        <form [formGroup]="loginForm">
                            <input formControlName="Mail" type="email " id="Email" class="form-control " placeholder="Introduce tu correo electronico" required=" " autofocus=" ">
                            <input formControlName="Password" type="password" id="Password " class="form-control " placeholder="Introduce tu contraseña..." required=" ">
                        </form>

                        <div class="divider"></div>
                        <h6 class="mb-0">
                            ¿Aun no tienes una cuenta?
                            <a href="register" class="text-primary">¡Registrate!</a></h6>
                    </div>
                    <div class="modal-footer clearfix">
                        <div class="float-right">
                            <button (click)="login()" type="button" class="btn btn-primary btn-lg">Iniciar Sesion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>